<a href="https://colab.research.google.com/github/csdojo23/project1/blob/main/Prediction_of_Product_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Title: Prediction of Product Sales
- Author: Caroline Schmitt

## "Project Overview"

## "Load and Inspect Data"

In [3]:
import pandas as pd

path = '/content/drive/MyDrive/Colab Notebooks/sales_predictions_2023.csv'

1) How many rows and columns?

8523 rows, 12 columns:

In [4]:
df = pd.read_csv(path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

2) What are the datatypes of each variable?

In [5]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

3) Are there duplicates? If so, drop any duplicates.

In [6]:
df.duplicated().sum()

0

In [9]:
df.nunique() / df.shape[0]

Item_Identifier              0.182917
Item_Weight                  0.048692
Item_Fat_Content             0.000587
Item_Visibility              0.924557
Item_Type                    0.001877
Item_MRP                     0.696703
Outlet_Identifier            0.001173
Outlet_Establishment_Year    0.001056
Outlet_Size                  0.000352
Outlet_Location_Type         0.000352
Outlet_Type                  0.000469
Item_Outlet_Sales            0.409832
dtype: float64

4) Identify missing values.

In [10]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

5) Address the missing values by using a placeholder value.

In [13]:
df['Item_Weight'] = df['Item_Weight'].fillna(-1)

6) Confirm that there are no missing values after addressing them.

In [16]:
df['Outlet_Size'] = df['Outlet_Size'].fillna("MISSING")

7) Find and fix any inconsistent categories of data (for example: fix cat, Cat, and cats so that they are consistent).

In [23]:
obj_cols = df.select_dtypes('object').columns

for col in obj_cols:
  print(df[col].value_counts())
  print('\n')

FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
         ..
FDY43     1
FDQ60     1
FDO33     1
DRF48     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64


Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64


Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64


OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64


Medium     2793
MISSING    2410
Small      2388
High        932
Name: Outlet_Size, dtype: int64


Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64


Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [24]:
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace("low fat", "LF")

8) For any numerical columns, obtain the summary statistics of each (min, max, mean).

In [32]:
def display_summary_stats(column):
  # works on a whole series
  print('min:', column.min())
  print('max', column.max())
  print('mean:', column.mean())

for col in df.select_dtypes('number'):
  print(f'{col.upper()}:')
  display_summary_stats(df[col])
  print()

ITEM_WEIGHT:
min: -1.0
max 21.35
mean: 10.478936407368296

ITEM_VISIBILITY:
min: 0.0
max 0.328390948
mean: 0.06613202877895108

ITEM_MRP:
min: 31.29
max 266.8884
mean: 140.9927819781767

OUTLET_ESTABLISHMENT_YEAR:
min: 1985
max 2009
mean: 1997.8318667135984

ITEM_OUTLET_SALES:
min: 33.29
max 13086.9648
mean: 2181.288913575032

## "Clean Data"

## "Exploratory Data Analysis"

## "Feature Inspection"